@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>6月カレンダー</title>
</head>
<body>
    <div id="container" class="text-left">
        <h1>@Model.Message</h1>
        <form method="post">
            <button type="submit">前月</button>
        </form>
        <button type="button">後月</button>
        <table border="1" align="center" width="50%" height="100%" class="text-center">
            <tr>
                <th><font color="red">日</font></th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
            </tr>
            <tr>
                <td>@Model.Month[0]</td>
                <td>@Model.Month[1]</td>
                <td>@Model.Month[2]</td>
                <td>@Model.Month[3]</td>
                <td>@Model.Month[4]</td>
                <td>@Model.Month[5]</td>
                <td>@Model.Month[6]</td>
            </tr>
            <tr>
                <td>@Model.Month[7]</td>
                <td>@Model.Month[8]</td>
                <td>@Model.Month[9]</td>
                <td>@Model.Month[10]</td>
                <td>@Model.Month[11]</td>
                <td>@Model.Month[12]</td>
                <td>@Model.Month[13]</td>
            </tr>
            <tr>
                <td>@Model.Month[14]</td>
                <td>@Model.Month[15]</td>
                <td>@Model.Month[16]</td>
                <td>@Model.Month[17]</td>
                <td>@Model.Month[18]</td>
                <td>@Model.Month[19]</td>
                <td>@Model.Month[20]</td>
            </tr>
            <tr>
                <td>@Model.Month[21]</td>
                <td>@Model.Month[22]</td>
                <td>@Model.Month[23]</td>
                <td>@Model.Month[24]</td>
                <td>@Model.Month[25]</td>
                <td>@Model.Month[26]</td>
                <td>@Model.Month[27]</td>
            </tr>
            <tr>
                <td>@Model.Month[28]</td>
                <td>@Model.Month[29]</td>
                <td>@Model.Month[30]</td>
                <td>@Model.Month[31]</td>
                <td>@Model.Month[32]</td>
                <td>@Model.Month[33]</td>
                <td>@Model.Month[34]</td>
            </tr>
            <tr>
                <td>@Model.Month[35]</td>
                <td>@Model.Month[36]</td>
                <td>@Model.Month[37]</td>
                <td>@Model.Month[38]</td>
                <td>@Model.Month[39]</td>
                <td>@Model.Month[40]</td>
                <td>@Model.Month[41]</td>
            </tr>
        </table>
    </div>
</body>
</html>
